[*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# IDE0061: Use block body for local function
dotnet_diagnostic.IDE0061.severity = none


