<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7581c1c4-1aae-481b-ba47-b749bf90454c/resourceGroups/Development/providers/Microsoft.ContainerRegistry/registries/isaacblogapi</ResourceId>
    <ResourceName>isaacblogapi</ResourceName>
    <ResourceGroup>Development</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://isaacblogapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6fd90f23-0c9e-4fec-abd6-e17b60636d35</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>